html, .b-page{height: 100%;}

.b-page{
    margin: 0;
    padding: 0;
    background: #000;
    position: relative;
}

.b-slider__wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.b-slider{
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    white-space: nowrap;
}

.b-slider__item{
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.b-slider:before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.b-slider__img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.b-nav{
    top: 50%;
    width: 92px;
    height: 91px;
    display: block;
    cursor: pointer;
    margin-top: -46px;
    position: absolute;
}

.b-nav-prev{
    left: 20px;
    background: url("../img/prev.png") no-repeat;
}

.b-nav-next{
    right: 20px;
    background: url("../img/next.png") no-repeat;
}

.b-thumbs__wrap{
    left: 0;
    right: 0;
    bottom: 0;
    height: 95px;
    position: fixed;
    padding: 0 40px;
}

.b-thumbs__bg{
    bottom: -95px;
    overflow: hidden;
    position: relative;
    background: rgba(0,0,0, 0.5);
    -webkit-transition: bottom 0.4s linear;
    -moz-transition: bottom 0.4s linear;
    -o-transition: bottom 0.4s  linear;
    -ms-transition: bottom 0.4s linear;
    transition: bottom 0.4s linear;
}

.b-thumbs__bg--up{
    bottom: 0;
    -webkit-transition: bottom 0.4s 0.4s linear;
    -moz-transition: bottom 0.4s 0.4s linear;
    -o-transition: bottom 0.4s 0.4s linear;
    -ms-transition: bottom 0.4s 0.4s linear;
    transition: bottom 0.4s 0.4s linear;
}

.b-thumbs{
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.b-thumbs__item{
    width: 75px;
    height: 75px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    list-style: none;
    vertical-align: top;
    display: inline-block;
}

.b-thumbs__item-selected{
    padding: 6px;
    border: 4px solid #0998ac;
}

.b-thumbs__img{

}